img{
    opacity: 0.4;
    border: 6px dashed blue;
}
h1{
    text-align: center;
    padding-top: 80px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 8px red;
    font-size: 28px;
}
h2{
    text-align: center;
    padding-top: 10px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 8px red;
    font-size: 20px; 
}
h3{
    text-align: center;
    padding-top: 10px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 8px red;
    font-size: 16px;  
}
p{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px salmon;
    font-size: 24px;
}
.container{
    width: 800px;
    height: 600px;
}
.mainbox{
    border: 4px dashed blue;
    padding-top: 60px;
    padding-bottom: 60px;
}
#alphabet {
    clear: both;
    margin:15px auto;
    padding:0;
    max-width:900px;
  }
  
#alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background:salmon;
    color:whitesmoke;
    cursor:pointer;
    border: solid 1px whitesmoke;
}    
#alphabet li:hover {      
     background: lightsalmon; 
     border: solid 1px whitesmoke;
     color: white;
}
#letter{
    text-align: center;
}
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display:block;
}
.guess {
    text-align: center;
    list-style: none;
    margin: 0 auto 0 auto;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
    clear: both;
}
body {
    background: radial-gradient(circle, red, blue);
  }